* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

header nav {
    background-color: #b61e2e;
    z-index: 9999;
}

header .navbar-brand {
    font-family: 'roboto';
    font-style: italic;
    color: white;
    font-size: 50px;
}

header .navbar-brand:hover {
    color: white;
}

header .navbar-brand:visited {
    text-decoration: none;
    color: white;
}

.main-page {
    height: auto;
    width: 100%;
    position: absolute;
    top: 100px;
    bottom: 0;
}

.deck-label {
    text-align: center;
    margin: 10px 0px;
}

#deck-title {
    font-size: 40px;
}

/* Cards */

.study-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
    align-items: center; /* Centers elements vertically */
    justify-content: center; /* Centers elements horizontally (optional) */
}

.card-container {
    width: 50%;
    aspect-ratio: 16 / 9; /* Sets the aspect ratio to always be 16:9 (adjusts height) */
}

.card-style {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: lightgray;
    font-family: sans-serif;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transition: background-color 0.05s ease-in;
    -webkit-transition: background-color 0.05s ease-in;
    -moz-transition: background-color 0.05s ease-in;
    -ms-transition: background-color 0.05s ease-in;
    -o-transition: background-color 0.05s ease-in;
}

.image {
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;
    margin-bottom: 2%;
}

.term {
    line-height: 5vw;
    font-size: 4vw;
}

.definition {
    line-height: 3vw;
    font-size: 2vw;
}

.definition-with-image {
    line-height: 2vw;
    font-size: 1vw;
}

.card-style:hover {
    background-color: rgb(199, 199, 199);
}

.card-button-container {
    display: none;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.card-button {
    background-color: transparent;
    border-color: transparent;
    border-width: 0;
    color:#b61e2e;
    transition: color 0.05s ease-in;
    -webkit-transition: color 0.05s ease-in;
    -moz-transition: color 0.05s ease-in;
    -ms-transition: color 0.05s ease-in;
    -o-transition: color 0.05s ease-in;
}

.card-button:hover {
    color:#941724;
}

#card-position {
    font-size: 30px;
}