* {
    padding: 0;
    margin: 0;
}

.deck-label {
    text-align: center;
    margin-top: 10px;
}

.decks {
    border: solid 5px black;
    background-color: lightgray;
    padding: 0;
    margin: auto;
    margin-top: 10px;
    width: 65%;
    border-radius: 25px;
}

.decks:hover {
    border: solid 5px black;
    background-color: gray;
    padding: 0;
    margin: auto;
    margin-top: 10px;
    width: 65%;
    border-radius: 25px;
}

.decks hr {
    border: solid 1px black;
}

.add-button {
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
}

.add-button button {
    background-color: lightgray;
    color: black;
    border-style: none;
    padding: 10px;
    border-radius: 25px;
}

.add-button button:hover {
    background-color: gray;
    color: black;
    border-style: none;
    padding: 10px;
    border-radius: 25px;
}

.decks .title {
    text-align: center;
    font-family: sans-serif;
    padding: 5px;
    margin-top: 10px;
    /*visibility: hidden;*/
}

.decks .description {
    text-align: center;
    font-family: sans-serif;
    padding: 5px;
    margin-top: 10px;
    /*visibility: hidden;*/
}
