* {
    padding: 0;
    margin: 0;
}

header nav {
    background-color: #b61e2e;
}

header .navbar-brand {
    font-family: 'roboto';
    font-style: italic;
    color: white;
    font-size: 50px;
}

header .navbar-brand:hover {
    color: white;
}

header .navbar-brand:visited {
    text-decoration: none;
    color: white;
}

.deck-label {
    text-align: center;
    margin-top: 10px;
}

.decks {
    background-color: lightgray;
    padding: 0;
    margin: auto;
    margin-top: 10px;
    width: 65%;
    border-radius: 25px;
    /* -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:; */
}

.decks:hover {
    background-color: gray;
    padding: 0;
    margin: auto;
    margin-top: 10px;
    width: 65%;
    border-radius: 25px;
}

.decks hr {
    border: solid 1px #808080;
}

.add-button {
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
}

.add-button button {
    background-color: lightgray;
    color: black;
    border-style: none;
    padding: 10px;
    border-radius: 25px;
}

.add-button button:hover {
    background-color: gray;
    color: black;
    border-style: none;
    padding: 10px;
    border-radius: 25px;
}

.decks .title {
    text-align: center;
    font-family: sans-serif;
    padding: 5px;
    margin-top: 10px;
    /*visibility: hidden;*/
}

.decks .description {
    text-align: center;
    font-family: sans-serif;
    padding: 5px;
    margin-top: 10px;
    /*visibility: hidden;*/
}

footer .footer-content{
    background-color: #b61e2e;
    color: white;
    margin: 0;
    padding: 0;
}